$navbar-vertical-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
$navbar-padding-horizontal: 0.1rem !default;


$standard-page-bg-old-browsers: -webkit-linear-gradient(to right, rgba(238,237,247,0.5), rgba(235,235,255,0.5));    
$standard-page-bg-new-browsers: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(9,64,121,0.06214985994397759) 0%);
$standard-page-bg-2: rgb(2,0,36);


$insight-card-box-shadow: 2px 2px 2px 0 rgba(136, 152, 170, .15) !important;


// Screens
$small-size-screen: 300px;
$medium-size-screen: 700px;



// Polygon Markers

// Colors
$manual-marker-color: rgb(161, 172, 255, .3);
$manual-marker-color-text: rgb(42, 54, 144);

// Size
$polygon-shape: polygon(12% 0%, 100% 0%, 100% 100%, 12% 100%, 0% 50%);
$marker-min-width: 5.7rem;
$marker-height: 1.4rem;

// Spacing
$marker-margin-left: 20px;
$marker-padding-right: 7px;

// Border
$marker-border-end-radius: 5px;

// Circle
$circle-width: 10px;
$circle-height: 10px;
$circle-border-radius: 10px;
$circle-border-width: 2px;
$circle-margin-left: 10px;