$navbar-vertical-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
$navbar-padding-horizontal: 0.1rem !default;


$standard-page-bg-old-browsers: -webkit-linear-gradient(to right, rgba(238,237,247,0.5), rgba(235,235,255,0.5));    
$standard-page-bg-new-browsers: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(9,64,121,0.06214985994397759) 0%);
$standard-page-bg-2: rgb(2,0,36);


$insight-card-box-shadow: 1px 1px 0 0 rgba(136, 152, 170, .15) !important;


