
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

body {
    font-family: 'Roboto';
}

iframe#webpack-dev-server-client-overlay {
    display:none!important
}