.page-background {
    min-height: 100vh;
    /* fallback for old browsers */
    background: $standard-page-bg-2;

    /* Chrome 10-25, Safari 5.1-6 */
    background: $standard-page-bg-old-browsers;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: $standard-page-bg-new-browsers;
    
}

.page-background input::placeholder {
    opacity: 0.35;
}

