.theme-dark {
    --dark-background: #3f3f3f;
    --light-text: #F9F8F8;  
    --light-background: #3f3f3f;
    --dark-background-2: #292929;
    --dark-background-3: #706f6f;
    --dark-shadow: 3px 3px 6px 0 rgba(136, 152, 170, .05) !important;
    --dark-selection: rgb(255, 255, 255, .24);
    --dark-bg-modal: rgb(75, 75, 75);
    --disabled-input-color: rgba(255, 255, 255, 0.705);
    --tooltip-background: #f5f5f9;
    --gray-background: #808080;
    --dark-skeleton: grey;
    --hybrid-green: #00b894;
}

.theme-light {
    --dark-background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(9,64,121,0.06214985994397759) 0%);
    --light-text: #5E4B56;
    --light-background: #fff;
    --dark-background-2: #fff;
    --dark-background-3: #c7c7c7;
    --dark-shadow: 3px 3px 6px 0 rgba(136, 152, 170, .25) !important;
    --dark-selection: rgb(0, 0, 0, .24);
    --dark-bg-modal: #dfdfdf;
    --disabled-input-color: rgba(0, 0, 0, 0.603);
    --tooltip-background: #3f3f3f;
    --gray-background: #fff;
    --dark-skeleton: rgb(216, 216, 216);
    --hybrid-green: #02755e;
}

.page-background {
    min-height: 100vh;
    background: var(--dark-background);
}

.page-background input::placeholder {
    opacity: 0.35;
}

